.input-wrapper {
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-label {
    margin-bottom: 0rem;
    text-align: center;
    font-weight: 500;
}

.input-unit-label {
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: 500;
}

.input-field {
    height: 40px;
    width: 100%;
    max-width: 475px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
    border-color: #007bff;
}

.input-field:disabled {
    background-color: #f0f0f0; /* light grey background */
    color: #888; /* muted grey text */
    cursor: not-allowed;
    border-color: #ccc;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
