.btn {
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    justify-content: center;
  }
  
  .btn-primary {
    background-color: #005130;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #00695d;
  }
  
  .btn-secondary {
    background-color: #000000;
    color: white;
  }
  
  .btn-secondary:hover {
    background-color: #414141;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }