.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem 2rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
    border: 1px #000 solid;
}

.btn-primary {
    background-color: #005130;
    color: white;
}

.btn-primary:hover {
    background-color: #00695d;
}

.btn-secondary {
    background-color: #000;
    color: white;
}

.btn-secondary:hover {
    background-color: #414141;
}

.btn-tertiary {
    background-color: white;
    color: black;
}

.btn-tertiary:hover {
    background-color: #a2a2a2;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn-icon {
    width: 100px;
    height: 100px;
    margin-right: 8px;
    vertical-align: middle;
}

.btn-home {
    background-color: white;
    color: black;
    border: 1px #000 solid;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.btn-home .btn-icon {
    margin: 0;
    width: 25px;
    height: 25px;
    object-fit: contain;
    vertical-align: middle;
}

.btn-home:hover {
    background-color: #a2a2a2;
}

.home-button-group {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    width: 100%;
}
