.workbook-input {
    width: 100%;
    max-width: 475px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
}

.workbook-input-label {
    color: black;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: 500;
    width: fit-content;
}

.workbook-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.workbook-date-input {
    vertical-align: middle;
    height: 40px;
    max-width: 75px;
    padding: 10px;
    font-size: 14px;
    margin: 0.5rem;
    box-sizing: border-box;
}

.workbook-non-input-text {
    align-items: center;
    justify-content: center;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    user-select: none;
    white-space: nowrap;
}

.workbook-location-input {
    height: 40px;
    max-width: 200px;
    padding: 10px;
    font-size: 14px;
    margin: 0.5rem;
    box-sizing: border-box;
    line-height: 35px;
}

.workbook-input:focus {
    outline: none;
    border-color: #007bff;
}

.workbook-input-fields-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
