.form-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

.form-row > input,
.form-row > select {
    flex: 1 1 0;
    min-width: 0;
}

.form-row > textarea {
    height: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.text-area {
    height: 500px;
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: vertical;
}

.text-area-label {
    color: black;
    margin-bottom: -0.5rem;
    text-align: center;
    font-weight: 500;
}

textarea:disabled {
    background-color: #f0f0f0;
    color: #888;
    border: 1px solid #ccc;
    cursor: not-allowed;
    height: 40px;
}

.fieldset-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.fieldset-row fieldset {
    flex: 1;
    min-width: 400px;
}
